{% extends "common/layout/base.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.accountBlocked.title' | translate %}

{% block content %}
    <h1 class="govuk-heading-l">{{'pages.accountBlocked.header' | translate }}</h1>
    <p class="govuk-body">{{ 'pages.accountBlocked.content.paragraph1' | translate }}</p>
    <p class="govuk-heading-m">{{ 'pages.accountBlocked.content.whatYouCanDo' | translate }}</p>
    <p class="govuk-body">{{ 'pages.accountBlocked.content.paragraph2' | translate }}</p>
    <p class="govuk-body">{{ 'pages.accountBlocked.content.paragraph3' | translate }}</p>
{% endblock %}
