{% extends "common/layout/base.njk" %}
{% from "ga4-opl/macro.njk" import ga4OnPageLoad %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageTitleName = 'pages.suspendedPageScreen.title' | translate %}

{% block content %}
    <h1 class="govuk-heading-l">{{'pages.suspendedPageScreen.header' | translate }}</h1>
    <p class="govuk-body">{{ 'pages.suspendedPageScreen.content.paragraph1' | translate }}</p>
    <p class="govuk-heading-m">{{ 'pages.suspendedPageScreen.content.whatYouCanDo' | translate }}</p>
    <p class="govuk-body">{{ 'pages.suspendedPageScreen.content.paragraph2' | translate }}</p>
    <p class="govuk-body">{{ 'pages.suspendedPageScreen.content.paragraph3' | translate }}</p>
    {{ga4OnPageLoad({ nonce: scriptNonce,statusCode:"200",englishPageTitle:"pages.suspendedPageScreen.title" | translate, taxonomyLevel1: "account", taxonomyLevel2:"orchestration", contentId:"006",loggedInStatus:true,dynamic:true})}}
{% endblock %}
