name: Deploy frontend

permissions:
  id-token: write
  contents: read

on:
  workflow_call:
    secrets:
      DYNATRACE_PAAS_TOKEN:
        required: true
      ARTIFACT_BUCKET_NAME:
        required: true
      CONTAINER_SIGN_KMS_KEY:
        required: True
      GH_ACTIONS_ROLE_ARN:
        required: true
      ECR_REPOSITORY:
        required: true


jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Login to GDS Dev Dynatrace Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: khw46367.live.dynatrace.com
          username: khw46367
          password: ${{ secrets.DYNATRACE_PAAS_TOKEN }}

      - name: Push ECR and deploy
        uses: govuk-one-login/devplatform-upload-action-ecr@5431bcea6158b6c12776a96e067b1e02bf91b13d # v1.3.0
        with:
          docker-build-path: ./
          artifact-bucket-name: ${{ secrets.ARTIFACT_BUCKET_NAME }}
          container-sign-kms-key-arn: ${{ secrets.CONTAINER_SIGN_KMS_KEY }}
          working-directory: ./infrastructure
          template-file: template.yaml
          role-to-assume-arn: ${{ secrets.GH_ACTIONS_ROLE_ARN }}
          ecr-repo-name: ${{ secrets.ECR_REPOSITORY }}
